<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linnea</title>
    
    {% load static %}

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">

    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/modal_style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/getmdl-select.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/w3.css' %}">

    <script src="{% static 'js/getmdl-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/FileSaver.min.js' %}"></script>


  </head>

  <body onload="inittxtExpr();">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #111627;">
      <a class="navbar-brand" href="#">Linnea</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="http://hpac.rwth-aachen.de/publications/author/Barthels">Publications</a>
          <a class="nav-item nav-link" href="https://github.com/HPAC/linnea">Github</a>
        </div>
      </div>
    </nav>

    <div class="mdl-grid" style="border: 1px solid #FFFFFF">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--9-col">
        <!-- <p style="margin: auto; font-size: 1em;">Input a <strong>Linear algebra expression</strong> to generate code that computes it:</p> -->
        <p style="margin: auto; font-size: 0.9em;"> Input a linear algebra expression to generate code that computes it. The following operations are allowed:</p><p style="margin: auto; font-size: 0.9em;"> Multiplication (*), addition (+), subtraction (-), transposition (trans(X)), and inversion (inv(X)).</p><p style="margin: auto; font-size: 0.9em;"> As operands, matrices, vectors, and scalars are supported. The names of matrices have to begin with an uppercase letter; the names of vectors and scalars have to begin with a lowercase letter. Constant scalars, for example 1.5 or -2, can be used directly.</p>
        <!-- <p style="margin: auto; font-size: 1em;">For Specifying <strong> Vector </strong> please start the vector's name with <strong> lower alphabet </strong>, and for specifying <strong> Matrix </strong> start it with <strong>capital alphabet </strong> </p> -->


        <table style="width: 100%">
            <tr>
              <td>
                <div class="mdl-textfield mdl-js-textfield is-dirty is-upgraded" style="width: 100%">
                  <form method="POST" id="dim-sug">
                    {% csrf_token %}

                    <textarea id="txtExpr" rows="1" class="mdl-textfield__input" placeholder="Expression" value="" style="margin-top: 2px; border: 2px solid #ccc; background-color: #f8f8f8; padding: 5px; font-family: Tahoma, sans-serif;" spellcheck="false" autocomplete="false" autocorrect="false" autocapitalize="false"></textarea>
                  </form>
                  <span id="lblError" class="mdl-textfield__error" style="font-size: 14px" ></span>
                </div>
              </td>
              <td style="width: 32px">
                <div style="position:relative">
                  <button id="btnExamples" class="mdl-button mdl-js-button mdl-button--icon" style="width: 100%">
                    <i class="material-icons">more_vert</i>
                    <div class="mdl-tooltip" data-mdl-for="btnExamples">
                      Examples
                    </div>
                  </button>
                  <ul id="listExamples" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" style="font-size: 6px" for="btnExamples"></ul>
                </div>
              </td>
              <td style="width: 200px">
              <form method="POST" id="post-form">
                  {% csrf_token %}
                  <input type="hidden" class="form-control" id="description" placeholder="Title" value="4444">
                  <button type="submit" id="btnGetKernel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect demo-btn" onclick="generateInput()">  Generate Algorithm </button>
              </form>
              </td>
            </tr>
          </table>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>

    <div id="tblFormats" class="mdl-grid" style="padding-top: 0px; padding-bottom: 0px">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--9-col">
        <table class="mdl-data-table mdl-js-data-table" style="width: 100%; margin-bottom: 8px">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric" width="100px;"><div align="center" style="position:relative; top:-1px"><big>Operands</big></div></th>
              <th class="mdl-data-table__cell--non-numeric" style="padding-left: auto">
                <div style="display:inline "><big>Properties&nbsp;</big></div>
                <!-- <div style="display:inline">(Enter the number of rows and columns)</div>
                <div style="display:inline">(Select the Property)</div> -->
              </th>
            </tr>
          </thead>
          <tbody id="listLinneas"></tbody>
        </table>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>



    <div class="mdl-grid" style="padding-top: 6px; ; border: 1px solid #FFFFFF;">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--9-col">
        <p style="margin: auto; font-size: 0.75em;"> Linnea minimizes the number of floating-point operations. The generated algorithm is the best one that is found within 10 seconds. Additional features of Linnea, such as a longer generation time or the option to generate multiple algorithms can be accessed by installing Linnea.</p>
        <div id="panelKernels" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <table style="width: 100%">
            <tr>
              <td>
                <div class="mdl-tabs__tab-bar" style="justify-content: flex-start">
                    <a href="#compute-panel" class="mdl-tabs__tab is-active">Generated Algorithm</a>
                </div>
              </td>
              <td style="width: 200px" align="right">
                <button id="btnDownloads" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect demo-btn" style="width: 200px;" onclick = "downloadOutput()">Download</button>
                <!-- <div class="mdl-tooltip" data-mdl-for="btnDownloads">
                  The generated code is provided "as is", without warranty of any kind. In order to improve Linnea, all submitted input expressions are stored.
                </div> -->
              </td>
            </tr>
          </table>
          <div class="mdl-tabs__panel is-active" id="compute-panel">
            <pre style="margin-top: 0px; margin-bottom: 44px; display:block;">
              <code id="txtComputeLoops" class="lang-cpp hljs" val=""># The generated algorithm will appear here. </code>
            </pre>
          </div>
        </div>

      </div>
      <div class="mdl-layout-spacer"></div>


    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">


      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        </br>

        <div class="w3-container">

          <table style="table-layout: fixed;width: 100%;" class="w3-table-all w3-hoverable">
            <!-- 1 -->
            <tr>
              <thead>
                <th colspan="3">
                  All Properties:
                </th>

              </thead>
            </tr>
            <tr class="w3-white">
              <td>
                <form>
                  <input id="FullRank" type="checkbox" name="properties" value="FullRank">
                  <label for="properties"  class="checkbox-inline">FullRank</label>
                </form>
              </td>
              <td>
                <form>
                  <input id="SPD" type="checkbox" name="properties" value="SPD">
                  <label for="properties"  class="checkbox-inline">SPD</label>
                </form>
              </td>
              <td>
                <form>
                  <input id="RowPanel" type="checkbox" name="properties" value="Symmetric">
                  <label for="properties"  class="checkbox-inline">Symmetric</label>
                </form>
              </td>
            </tr>
            <tr class="w3-white">
              <td>
                <form>
                  <input id="Orthogonal" type="checkbox" name="properties" value="Orthogonal">
                  <label for="properties"  class="checkbox-inline">Orthogonal</label>
                </form>
              </td>
              <td>
                <form>
                  <input id="OrthogonalRows" type="checkbox" name="properties" value="OrthogonalRows">
                  <label for="properties"  class="checkbox-inline">OrthogonalRows</label>
                </form>
              </td>
              <td>
                <form>
                  <input id="OrthogonalColumns" type="checkbox" name="properties" value="OrthogonalColumns">
                  <label for="properties"  class="checkbox-inline">OrthogonalColumns</label>
                </form>
              </td>
            </tr>
            <tr class="w3-white">
              <td>
                <form>
                  <input id="SPSD" type="checkbox" name="properties" value="SPSD">
                  <label for="properties"  class="checkbox-inline">SPSD</label>
                </form>

              </td>
              <td>
                <form>

                  <input id="LowerTriangular" type="checkbox" name="properties" value="LowerTriangular">
                  <label for="properties"  class="checkbox-inline">LowerTriangular</label>

                </form>
              </td>
              <td>
                <form>

                  <input id="UpperTriangular" type="checkbox" name="properties" value="UpperTriangular">
                  <label for="properties"  class="checkbox-inline">UpperTriangular</label>

                </form>
              </td>

            </tr>
            <tr class="w3-white">
              <td>
                <form>
                  <input id="Diagonal" type="checkbox" name="properties" value="Diagonal">
                  <label for="properties"  class="checkbox-inline">Diagonal</label>

                </form>
              </td>
              <td>
                <form>

                  <input id="UnitDiagonal" type="checkbox" name="properties" value="UnitDiagonal">
                  <label for="properties"  class="checkbox-inline">UnitDiagonal</label>

                </form>
              </td>
              <td>
                <form>
                  <input id="Square" type="checkbox" name="properties" value="Permutation">
                  <label for="properties"  class="checkbox-inline">Permutation</label>
                </form>
              </td>
            </tr>
           

          </table>
          <div class="mdl-layout-spacer"></div>

        </div>

        <div class="modal-footer">
          <button id="clear" onclick='clearProperty(this)' class="button button5">clear</button>
          <button id="save" onclick='saveProperty(this)' class="button button6">Save</button>
        </div>

        <!-- <div class="modal-footer">
          <button id="save" onclick='saveProperty(this)' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="save-details">Save</button>
        </div> -->


      </div>

    </div>


    <!-- </footer> -->
    <div class="myfooter">
                  <p style="margin: auto; font-size: 0.60em; width: 72em; line-height:15px; padding-top: 5px;"> The generated code is provided "as is", without warranty of any kind. In order to improve Linnea, all submitted input expressions are stored. If you have questions, comments, or encounter bugs, please post an issue on <a href="//github.com/HPAC/linnea/issues"> GitHub</a>.</p>

      <p style="margin-top: 0; margin-bottom: 0;">&copy; Copyright <b><a href="http://hpac.rwth-aachen.de/">HPAC</a></b> Team 2020</p>
    </div> 

    <!-- <div style="background-color: #0099cc;
                color: #ffffff;
                text-align: center;
                font-size: 12px;">
      <p>Resize the browser window to see how the content respond to the resizing.</p>
    </div> -->
    


  </body>
  <script type="text/javascript" src="{% static 'js/start.js' %}"></script>
  <script>
    
     
    $(document).on('inputchange change keyup paste', '#dim-sug',function(e){
      var inputString = $("#txtExpr").val();
      if(inputString == ""){
        $("#tblFormats").hide();
      }else{
        model.setInput(inputString.trim());
        $("#lblError").css('visibility', 'hidden');
      }

      //out($('#description').val());
      out($('#description').val());
      
      $.ajax({
        
        type:'POST',
        url:'{% url "create" %}',
        data:{
            event: 'keyup',
            description:$('#description').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
          $("#btnGetKernel").attr("disabled", false);
          $("#btnDownloads").attr("disabled", false);
          //out(json.answer)
          var dm1 = json.answer.split(']}');
          //out(dm1);
          dada = [];
          dm4 = {};
          for(d in dm1){
            //out(dm1[d]);
            if(dm1[d].length > 1){
              dx = dm1[d].replace(/[\[\]\{\}\(\)\'\"&]+/g,'');
              dx = dx.trim();
              ss = dx.split(',');
              var sss = [];
              var ii=0;
              for(ii; ii<ss.length;ii=ii+1){
                ss[ii] = ss[ii].trim();
                if(ss[ii].length >0){
                  sss.push(ss[ii]);
                }
              }
              //out(sss);
              da = [];
              var ii=0;
              for(ii; ii<sss.length;ii=ii+2){
                if(sss[ii].length >0){
                  da.push(sss[ii]+":"+sss[ii+1]);
                }
              }
              
            }
            dada.push(da);
          }

          //out(tblFormatsView.cache);
          //out(dada);
          for(d in dada){
            var ii=0; 
            for(ii; ii<dada[d].length;ii=ii+1){
              var dda = dada[d];
              //dda = removeItemAll(dda,dada[d][ii]);
              dm4[dada[d][ii]] = dda
            }

          }
          //out(dm4);
          

          

          


        },
        error : function(xhr,errmsg,err) {
          //$("#tblFormats").hide();
          console.log(xhr.status + ": " + xhr.responseText);
         
          //$("#btnGetKernel").attr("disabled", true);
          //$("#btnDownloads").attr("disabled", true);

          //$("#btnGetKernel").html("Generate Kernel");
          //$('#txtComputeLoops').val("Your input expression had syntax error :(");
          //$('#txtComputeLoops').html("Your input expression had syntax error :(");

          //$("#lblError").css('visibility', 'visible');
          //$('#lblError').val('Error: Invalid Expression!');
          //$('#lblError').html('Error: Invalid Expression!');
        }
      });
      });
  </script>
  <script>
      $(document).on('submit', '#post-form',function(e){
      e.preventDefault();
      $("#btnGetKernel").attr("disabled", true);
      $("#btnDownloads").attr("disabled", true);

      $("#btnGetKernel").html("<i class='fa fa-circle-o-notch fa-spin'></i> Generating");

      $.ajax({
          type:'POST',
          url:'{% url "create" %}',
          data:{
              event: 'submit',
              description:$('#description').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
          success:function(json){
            $("#btnGetKernel").attr("disabled", false);
            $("#btnDownloads").attr("disabled", false);

            $("#btnGetKernel").html("Generate Kernel");
            document.getElementById("post-form").reset();

            $("#lblError").css('visibility', 'hidden');
            $('#txtComputeLoops').val(json.answer);
            $('#txtComputeLoops').html(json.answer);
            var elmnt = document.getElementById("btnDownloads");
            elmnt.scrollIntoView({
              behavior: "smooth",
              block: "start", // or "end"
            });
             // or "auto" or "instant"
            //     block: "start" // or "end");
            // $("#txtComputeLoops").scrollIntoView({
            //     behavior: "smooth", // or "auto" or "instant"
            //     block: "start" // or "end"
            // });
            // out(json.description);
            // out(json.dimensions);

          },
          error : function(xhr,errmsg,err) {
            $("#tblFormats").hide();
            $("#btnGetKernel").attr("disabled", false);
            $("#btnDownloads").attr("disabled", false);

            $("#btnGetKernel").html("Generate Kernel");
            console.log(xhr.status + ": " + xhr.responseText);
            $('#txtComputeLoops').val("Conflict in sizes of the inputs :(");
            $('#txtComputeLoops').html("Conflict in sizes of the inputs :(");

            $("#lblError").css('visibility', 'visible');
            $('#lblError').val('Error: Invalid Expression!');
            $('#lblError').html('Error: Invalid Expression!');
          }
        });
      });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93058524-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
